<h1>Students</h1>
<a href="/">Home</a>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Age</th>
  </tr>
  <% theStudents.forEach(student => { %>
    <tr>
      <td><%= student.sid %></td>
      <td><%= student.name %></td>
      <td><%= student.age %></td>
    </tr>
  <% }); %>
</table><h1>Students</h1>
<a href="/">Home</a>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Age</th>
    <th>Actions</th>
  </tr>
  <% theStudents.forEach(student => { %>
    <tr>
      <td><%= student.sid %></td>
      <td><%= student.name %></td>
      <td><%= student.age %></td>
      <td><a href="/students/edit/<%= student.sid %>">Edit</a></td>
    </tr>
  <% }); %>
</table>
<a href="/students/add">Add Student</a>

